{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
   
{% endblock search-bar %}


{% block content %}

    <h2>Search!!</h2>

    <h4>Search by {{city}}</h4>

    <form method="get" action="{% url "rooms:search" %}">
        {{form.as_p}}
        <button> Search </button>
        
    </form>

    {% for room in rooms  %}
        <h4>
            {{room}}
        </h4>
    {% endfor %}

    <h4> 
    
    {% if rooms.has_previous %}
        <a href="?{{urlencode}}&page={{rooms.number|add:-1}}">Previous</a>    
    {% endif %}

    {% for page in rooms.paginator.page_range  %}
        {{page}}
    {% endfor %}

    {% if rooms.has_next %}
        <a href="?{{urlencode}}&page={{rooms.number|add:1}}">Next</a>    
    {% endif %}

    Page {{rooms.number}} / {{rooms.paginator.num_pages}}

    </h4>


{% endblock content %}  
